<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f/resourceGroups/v-pravallika-mindtree/providers/Microsoft.Web/sites/kpwebapppp</ResourceId>
    <ResourceGroup>v-pravallika-mindtree</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://kpwebapppp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>804cb2ec-c74f-4c02-9d3c-96e5ebf977df</ProjectGuid>
    <PublishUrl>https://kpwebapppp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$kpwebapppp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>